* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

/* Calculator styling */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* display */
.result {
    grid-column: 1 / -1;
    background-color: rgb(118, 93, 68, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.result > .previous-operand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5rem;
}

.result > .current-operand {
    color: white;
    font-size: 2rem;
}

/* buttons */
.calculator-grid > button {
    font-size: 1.5rem;
    border: 1px solid rgb(118, 93, 68);
    outline: none;
    background-color: rgba(255, 255, 255, 0.70);
}

.calculator-grid > button:hover {
    background-color: rgb(118, 93, 68, 0.90);
}

.span-two {
    grid-column: span 2;
}

/* Right side styling */

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}